<!-- Validation failure messages -->
<% if @recruiter.errors.any? %>
  <% @recruiter.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Recruiter #<%= @recruiter.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_recruiter/<%= @recruiter.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for rec_name -->
      <div class="form-group">
        <label for="rec_name" class="control-label">
          Name
        </label>

        <input type="text" id="rec_name" name="rec_name" placeholder="Recruiter's name" class="form-control" value="<%= @recruiter.rec_name %>">
      </div>

      <!-- Label and input for rec_corp -->
      <div class="form-group">
        <label for="rec_corp" class="control-label">
          Company
        </label>

        <%= select_tag "rec_corp", options_from_collection_for_select(@corporate, :id, :corp_name, @recruiter.rec_corp) %>
      </div>

      <!-- Label and input for rec_school -->
      <div class="form-group">
        <label for="rec_school" class="control-label">
          School
        </label>

        <%= select_tag "rec_school", options_from_collection_for_select(@school, :id, :school_name, @recruiter.rec_school) %>
      </div>

      <!-- Label and input for rec_email -->
      <div class="form-group">
        <label for="rec_email" class="control-label">
          E-mail
        </label>

        <input type="text" id="rec_email" name="rec_email" placeholder="Recruiter's email" class="form-control" value="<%= @recruiter.rec_email %>">
      </div>

      <!-- Label and input for rec_mobile -->
      <div class="form-group">
        <label for="rec_mobile" class="control-label">
          Mobile Number
        </label>

        <input type="text" id="rec_mobile" name="rec_mobile" placeholder="Recruiter's mobile" class="form-control" value="<%= @recruiter.rec_mobile %>">
      </div>

      <!-- Label and input for rec_phone -->
      <div class="form-group">
        <label for="rec_phone" class="control-label">
          Office Number
        </label>

        <input type="text" id="rec_phone" name="rec_phone" placeholder="Recruiter's office phone" class="form-control" value="<%= @recruiter.rec_phone %>">
      </div>

      <button class="btn btn-warning">
        Update Recruiter
      </button>
      or
      <a href="/recruiters/<%= @recruiter.id %>">Cancel</a>
    </form>
  </div>
</div>
