<!-- Validation failure messages -->
<% if @corporate.errors.any? %>
  <% @corporate.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Corporate #<%= @corporate.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_corporate/<%= @corporate.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for corp_name -->
      <div class="form-group">
        <label for="corp_name" class="control-label">
          Company Name
        </label>

        <input type="text" id="corp_name" name="corp_name" placeholder="Corp name" class="form-control" value="<%= @corporate.corp_name %>">
      </div>

      <!-- Label and input for corp_ind -->
      <div class="form-group">
        <label for="corp_ind" class="control-label">
          Industry
        </label>
     
        <%= select_tag "corp_ind", options_from_collection_for_select(@industry, :id, :industry_name, @corporate.corp_ind) %>
      </div>

      <!-- Label and input for corp_reg -->
      <div class="form-group">
        <label for="corp_reg" class="control-label">
          Region
        </label>

        <%= select_tag "corp_reg", options_from_collection_for_select(@region, :id, :region_name, @corporate.corp_reg) %>
      </div>

      <button class="btn btn-warning">
        Update Corporate
      </button>
      or
      <a href="/corporates/<%= @corporate.id %>">Cancel</a>
    </form>
  </div>
</div>
