<!-- Validation failure messages -->
<% if @note_template.errors.any? %>
  <% @note_template.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Note Template</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_note_template" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for interaction_type -->
      <div class="form-group">
        <label for="interaction_type" class="control-label">
          Interaction type
        </label>

        <input type="text" id="interaction_type" name="interaction_type" placeholder="Interaction type" class="form-control" value="<%= @note_template.interaction_type %>">
      </div>

      <!-- Label and input for school_affinity -->
      <div class="form-group">
        <label for="school_affinity" class="control-label">
          School affinity
        </label>

        <input type="text" id="school_affinity" name="school_affinity" placeholder="School affinity" class="form-control" value="<%= @note_template.school_affinity %>">
      </div>

      <!-- Label and input for min_score -->
      <div class="form-group">
        <label for="min_score" class="control-label">
          Min score
        </label>

        <input type="text" id="min_score" name="min_score" placeholder="Min score" class="form-control" value="<%= @note_template.min_score %>">
      </div>

      <!-- Label and input for max_score -->
      <div class="form-group">
        <label for="max_score" class="control-label">
          Max score
        </label>

        <input type="text" id="max_score" name="max_score" placeholder="Max score" class="form-control" value="<%= @note_template.max_score %>">
      </div>

      <button class="btn btn-success">
        Create Note Template
      </button>
      or
      <a href="/note_templates">Cancel</a>
    </form>
  </div>
</div>
