<div class="page-header">
  <h3>Note Template #<%= @note_template.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Interaction type</dt>
      <dd><%= @note_template.interaction_type %></dd>

      <dt>School affinity</dt>
      <dd><%= @note_template.school_affinity %></dd>

      <dt>Min score</dt>
      <dd><%= @note_template.min_score %></dd>

      <dt>Max score</dt>
      <dd><%= @note_template.max_score %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/note_templates" class="btn btn-primary">
        Back
      </a>
      <a href="/note_templates/<%= @note_template.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_note_template/<%= @note_template.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
