<!-- Validation failure messages -->
<% if @interaction.errors.any? %>
<% @interaction.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Add Interaction</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_interaction" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



      <% if params[:id] == nil %>
      
      <!-- Label and input for recruiter name -->
      <div class="form-group">
        <label for="rec_id" class="control-label">
          Recruiter's Name
        </label>

        <select name="rec_id">
          <% @recruiter.each do |recruiter| %>
          <option value="<%= recruiter.id %>"> <%= recruiter.rec_name %> / <%= recruiter.corporate.corp_name %> / <%= recruiter.rec_email %> </option>
          <input type="hidden" id="rec_name" name="rec_name" value= <%= recruiter.rec_name %>>
          <% end %>
        </select>
      </div>

      <!-- Label and input for Interaction Type -->
      <div class="form-group">
        <label for="int_type" class="control-label">
          Interaction Type
        </label>

        <select name="int_type">
          <% @interaction_types.each do |type| %>
          <option value="<%= type.int_type %>"> <%= type.int_type %> </option>
          <% end %>
        </select>
      </div>

      <!-- Label and input for int_score -->
      <div class="form-group">
        <label for="int_score" class="control-label">
          Interaction Score
        </label>

        <select name='int_score'>
          <% (1..10).each do |int_score|%>
          <option value="<%= int_score %>"> <%= int_score %> </option>
          <% end %>
        </select>
      </div>



      <!-- Label and input for user_comment -->
      <div class="form-group">
        <label for="user_comment" class="control-label">
          Interaction Summary
        </label>
        <input type="text" id="user_comment" name="user_comment" placeholder= "Type summary and key points of the recruiter interaction" value= <% @interaction.user_comment %>>
      </div>




      <% else %>
      <% recruiter = Recruiter.find_by(:id => params[:id]) %>
      <!-- Label and input automatically chosen for rec_name -->
      <div class="form-group">
        <label for="rec_id" class="control-label">
          Recruiter's Name:
        </label>
        <input type="hidden" id="rec_id" name="rec_id" value= <%= recruiter.id %>>
        <input type="hidden" id="rec_name" name="rec_name" value= <%= recruiter.rec_name %>>
        <%= Recruiter.find_by(:id => params[:id]).rec_name if params[:id] %>
        / <%= Recruiter.find_by(:id => params[:id]).corporate.corp_name if params[:id] %>
        / <%= Recruiter.find_by(:id => params[:id]).rec_email if params[:id] %>
      </div>

      <!-- Label and input automatically chosen for school_affinity -->
      <div class="form-group">
        <label for="school_affinity" class="control-label">
          School Affinity:
        </label>
        <% if Recruiter.find_by(:id => params[:id]).rec_school == current_user.user_school  %>
          True
        <% else %>
          False
        <% end %>
      </div>

      <!-- Label and input for Interaction Type -->
      <div class="form-group">
        <label for="int_type" class="control-label">
          Interaction Type
        </label>

        <select name="int_type">
          <% @interaction_types.each do |type| %>
          <option value="<%= type.id %>"> <%= type.int_type %> </option>
          <% end %>
        </select>
      </div>

      <!-- Label and input for int_score -->
      <div class="form-group">
        <label for="int_score" class="control-label">
          Interaction Score
        </label>

        <select name='int_score'>
          <% (1..10).each do |int_score|%>
          <option value="<%= int_score %>"> <%= int_score %> </option>
          <% end %>
        </select>
      </div>



      <!-- Label and input for user_comment -->
      <div class="form-group">
        <label for="user_comment" class="control-label">
          Comments
        </label>
        <input type="text" id="user_comment" name="user_comment" placeholder= "Type summary and key points of the recruiter interaction" value= <% @interaction.user_comment %>>
      </div>

      <% end %>



      <button class="btn btn-success">
        Create Interaction
      </button>
      or
      <a href="/interactions">Cancel</a>
    </form>
  </div>
</div>
