<!-- Validation failure messages -->
<% if @interaction.errors.any? %>
  <% @interaction.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Interaction</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_interaction" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for rec_id -->
      <div class="form-group">
        <label for="rec_id" class="control-label">
          Recruiter's Name
        </label>

        <input type="text" id="rec_id" name="rec_id" placeholder="Type recruiter's name" class="form-control" value="<%= @interaction.rec_id %>">
      </div>




    <select name="int_type">
      <% @interaction_type.each do |type| %>
        <option value="<%= type.id %>"> <%= type.int_type %> </option>
      <% end %>
    </select>




  <!-- Label and input for int_score -->
  <div class="form-group">
    <label for="int_score" class="control-label">
      Interation Score
    </label>

    <input type="text" id="int_score" name="int_score" placeholder="Int score" class="form-control" value="<%= @interaction.int_score %>">
  </div>

  <button class="btn btn-success">
    Create Interaction
  </button>
  or
  <a href="/interactions">Cancel</a>
</form>
</div>
</div>
